<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Chesslink</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <script src="./js/eyescript.js"></script>
    <div id="wrapper">
        <div class="wave spacer"></div>
        <div id="flexb">
          <div id="name"><p class="display-4">Chesslink</p>
            <p class="lead">Web application for real-time chatting,<br/> videocalls and playing chess.</p></div>
            <div class="login">
                <p class='display-4'>Sign In</p>
                <form>
                    <div class="mb-3">
                      <label for="f_email" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="f_email" aria-describedby="emailHelp" placeholder="johndoe@gmail.com">
                    </div>
                    <label for="f_password" class="form-label">Password</label>
                    <div class="input-group mb-3">
                      <input type="password" class="form-control" id="f_password" aria-describedby="button-addon">
                      <div class="input-group-append">
                        <button class="btn btn-outline-light" type="button" id="button-addon" onclick="changeEye(1)"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                      </div>
                    </div>
                    <button type="button" class="btn btn-outline-warning" id="log">Sign In</button>
                </form><br/>
                <a href="/signup" class="right">Sign Up</a>
                <a href="/pass" class="left">Forgot a password?</a>
            </div>
          </div>
        <div class="wave2 spacer"></div>
    </div>
    <script type="module">
        import loginAccount from "./js/login.js";
        var login = () => {
          var email = $('#f_email').val();
          var password = $('#f_password').val();
          loginAccount(email,password);
        }
        $('#log').on('click',login);
    </script>
</body>
</html>