html, body, #wrapper{
    width: 100%;
    height: 100%;
    background-color: #001220;
    background: url('scene.svg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(10%);
}
.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
@media screen and (min-width: 900px) {
    .spacer {
      aspect-ratio: 960/220;
    }
    .login {
        width: 30% !important;
    }
}
.wave {
    background-image: url('wave.svg');
    position: absolute;
    bottom: 0;
}
.wave2 {
    background-image: url('wave2.svg');
}
.form-control {
    background-color: rgb(29, 29, 29) !important;
    color: rgb(172, 169, 169) !important;
}
.form-control:focus {
    background-color: rgb(29, 29, 29) !important;
    color: white !important;
}
.login {
    z-index: 1000;
    width: 50%;
    background-color: rgba(41, 41, 41, 0.8);
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 10px 10px 10px rgba(15, 15, 15, 0.863);
}
#name {
    color:white;
    transform: scale(1,1);
    transition: transform 1s;
    cursor: default;
    margin: 0;
}
#logo {
    margin-right: 18px;
    transform: scale(1,1);
    transition: transform 1s;
}
#logo:hover {
    transform: scale(1.1,1.1);
    transition: 0.6s transform;
}
#name:hover {
    transform: scale(1.1,1.1);
    transition: 0.6s transform;
}
@media screen and (max-width: 900px) {
    #logo {
        display: none;
    }
    #name {
        display: none;
    }
    #flexb {
        justify-content: center !important;
    }
    .login {
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    .login {
        width: 90%;
    }
}
.left {
    float: left;
    margin: 3px;
}
.right {
    float: right;
    margin: 3px;
}
#button-addon,#button-addon-2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#flexb {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.lead {
    color: rgb(146, 146, 146);
}